<div class="center jumbotron">
  <h1>SeaBass DV - Archive Utility</h1>
  <%= image_tag("bass.jpg", alt:"Bass Logo") %>
  <h2>
    This is the home page for the SeaBass DV application.  To be used for finding files and tapes in the
    <a href="http://10.103.0.244">CBS DIVA archive</a>
  </h2>
  <%= link_to "Browse the Library Now!", browse_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://rubyonrails.org/' %>
